{% load static %}
<div class="row overflow_hidden">
    <!-- Sidebar --> 
    <nav class="col-md-3 nav-pills flex-column  bg-light sidebar-custom">
      <div class="control-panel">
        <h1 class="brand-text font-weight-light text-center cp-padding">Bảng điều khiển</h1>
      </div>
      <div class="position-sticky ">
        <ul class="nav flex-column">
          <li class="nav-item item-padding">
            <a class="flex-sm-fill nav-link text-center" href="{% url 'home' %}">
              <h5>Trang chủ</h5>
            </a>
          </li>
          <li class="nav-item item-padding">
            <a class="flex-sm-fill nav-link text-center" href="{%url 'view_department' %}">
              <h5>Quản lí các Khoa</h5>
            </a>
          </li>
          <li class="nav-item item-padding">
            <a class="flex-sm-fill nav-link text-center" href="{%url 'view_class' %}">
              <h5>Quản lí lớp học</h5>
            </a>
          </li>
          <li class="nav-item item-padding">
            <a class="flex-sm-fill nav-link text-center" href="{%url 'view_student' %}">
              <h5>Quản lí sinh viên</h5>
            </a>
          </li>
          <li class="nav-item item-padding">
            <a class="flex-sm-fill nav-link text-center"href="{%url 'view_lecturer' %}">
              <h5>Quản lí giảng viên</h5>
            </a>
          </li>
          <li class="nav-item item-padding">
            <a class="flex-sm-fill nav-link text-center"href="{%url 'view_subject' %}">
              <h5>Quản lí môn học</h5>
            </a>
          </li>
           <li class="nav-item item-padding">
            <a class="flex-sm-fill nav-link text-center"href="{%url 'view_studysection' %}">
              <h5>Quản lí học phần</h5>
            </a>
          </li>
          <li class="nav-item item-padding">
            <a class="flex-sm-fill nav-link text-center"href="{%url 'view_register' %}">
              <h5>Xem điểm</h5>
            </a>
          </li>
          {% if user.is_authenticated %}
            <li class="nav-item">
              <a class="flex-sm-fill nav-link text-center" href="{%url 'logout' %}">
                <h5>Đăng xuất</h5>
              </a>
            </li> 
          {% else %}
          <li class="nav-item">
            <a class="flex-sm-fill nav-link text-center" href="{%url 'login' %}">
              <h5>Đăng nhập</h5>
            </a>
          </li>
          {% endif %}  
      </div>
    </nav>
  </div>