{% extends 'main_app/foot.html' %}
{% load static %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-dark">
                    <div class="card-header">
                        <h3 class="card-title">{{ page_title }}</h3>
                    </div>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Mã Học Phần</th>
                                <th>Tên Học Phần</th>
                                <th>Kỳ Học</th>
                                <th>Điểm Giữa Kỳ</th>
                                <th>Điểm Cuối Kỳ</th>
                                <th>Điểm Bài Tập</th>
                                <th>Hành động</th>

                            </tr>
                        </thead>
                        <tbody>
                            {% for registration in registrations %}
                            <tr>
                                <td>{{ registration.study_section.first.code }}</td>
                                <td>{{ registration.study_section.first.name }}</td>
                                <td>{{ registration.semester }}</td>
                                <td>{{ registration.midterm_score }}</td>
                                <td>{{ registration.final_score }}</td>
                                <td>{{ registration.homework_score }}</td>
                                <td><a href="{% url 'add_grade' registration.id %}" class="btn btn-danger btn-sm" >Cập nhật điểm</a></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
