{% extends 'main_app/foot.html' %}
{% load static %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-dark">
                    <div class="card-header">
                        <ul class="list-group">
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                <h3 class="card-title">{{ page_title }}</h3>
                                <a href ="{%url 'add_staff' %}" target="top">
                                    <h3 class="badge bg-primary rounded-pill">Thêm nhân viên</h3>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <table class="table">
                        <thead>
                          <tr>
                            <th scope="col">Tên</th>
                            <th scope="col">Email</th>
                            <th scope="col">Giới tính</th>
                            <th scope="col">Địa chỉ</th>
                            <th scope="col">Giáo viên môn</th>
                          </tr>
                        </thead>
                        <tbody>
                        {% for staff in staffs %}
                            <tr>
                                <td>{{ staff.profile.first_name }} {{ staff.profile.last_name }}</td>
                                <td>{{ staff.profile.email }}</td>
                                <td>{{ staff.profile.gender }}</td>
                                <td>{{ staff.profile.address }}</td>
                                <td>{{ staff.subject.name }}</td>
                            </tr>
                        {% empty %}
                            <tr>
                                <td colspan="6" class="text-center">Không có thông tin sinh viên nào.</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                      </table>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
